//colors

$green: #45BF1D;
$blue: #31A1FF;
$red: #DC5555;
$orange: #FFA500;
$purple: #9f188a;
$yellow: #ffd94c;
$pink: #ff74da;
$teal: #3eaea9;
$grey: #a2a2a2;

$darkgreen: #348816;
$darkblue: #2676bf;
$darkred: #ab4242;
$darkorange: #bc7a00;
$darkpurple: #6e145d;
$darkyellow: #ddbc42;
$darkpink: #c1619f;
$darkteal: #2b6c68;
$darkgrey: #545454;

$lightblue: lighten($blue, 20%);


//fonts

$font_header: "Source Sans Pro", Helvetica Neue, sans-serif;
$font_content: "Source Sans Pro", Helvetica Neue, sans-serif;