html.home{

  header{
    padding: 30px;
    font-size: 20px;
    a{
      display: inline-block;
      margin: 0 20px 0 0;
    }
  }

  .grid{
    background: url('../img/striped-bg.gif') center center repeat;
    @include clearfix;
    > div{
      //the box
      float: left;
      width: 33.3333333%;
      height: 0;
      padding: 27% 0 0 0;
      background-size: cover;
      position: relative;
      cursor: pointer;
      overflow: hidden;
      p{
        //the content
        position: absolute;
        left: 0;
        bottom: 0;
        font-size: 23px;
        color: black;
        font-weight: 300;
        margin: 0;
        line-height: 1.2;
        padding: 20px;
        text-align: center;
        background: rgba(255,255,255,0.9);
        width: 100%;
        box-sizing: border-box;
        @include transitionTransform(0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94));
        @include translate(0,100%);
      }
      &:hover{
        p {
          @include translate(0,0);
        }
        &:before{
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          background: rgba(0,0,0,0.4);
          @include animation(fadeIn 0.3s);
          @include animation-easing(cubic-bezier(0.25, 0.46, 0.45, 0.94));
        }
      }

      .spinner{
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
        z-index: 10;
        @include fadeIn(0.5s);
        i{
          display: block;
          height: 100px;
          width: 100px;
          position: absolute;
          left: 50%;
          top: 50%;
          margin: -50px 0 0 -50px;
          background: url('../img/spinner.png');
          background-size: contain;
          @include rotation;
        }
      }

      &.loading{
        .spinner{
          display: block;
        }
      }

      @include media(701,1150){
        width: 50%;
        padding: 40% 0 0 0;
      }

      @include media(0,700){
        width: 100%;
        padding: 75% 0 0 0;
      }
    }
  }

  body.popup-open{
    overflow: hidden;
    #popup{
      display: block;
    }
    @include media(800){
      .grid{
        -webkit-filter: blur(25px);
        ms-filter: blur(25px);
        filter: blur(25px);
      }
      header{
        -webkit-filter: blur(25px);
        ms-filter: blur(25px);
        filter: blur(25px);
      }
    }
  }
}

@import "popup";