html.home{

  header{
    padding: 30px;
    font-size: 20px;
    a.item{
      font-family: $font_header;
      color: black;
      font-size: 25px;
      margin: 8px 15px;
      line-height: 35px;
      display: inline-block;
      vertical-align: top;
      position: relative;
      z-index: 0;
      &:before{
        content: '';
        background: #00efc7;
        left: -7px;
        right: 100px;
        top: 0;
        bottom: 0;
        position: absolute;
        z-index: -1;
        transform: skew(-5deg);
        transition: all 0.2s ease-in-out;
      }
      &:hover{
        text-decoration: none;
        &:before{
          right: -7px;
        }
      }
    }
    a.logo{
      display: inline-block;
      margin: 0 23px 0 0;
      width: 169px;
      height: 57px;
      background: url("../img/logo.png") no-repeat top;
      background-size: 169px;
      &:hover{
        background-position: bottom;
      }
    }
  }

  .grid{
    @include clearfix;
    > div{
      //the box
      float: left;
      width: 33.3333333%;
      height: 0;
      padding: 27% 0 0 0;
      background-size: cover;
      background-position: center center;
      position: relative;
      cursor: pointer;
      overflow: hidden;
      &:before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 239, 199, 0.90);
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
      }
      p{
        //the content
        position: absolute;
        left: 0;
        top: 50%;
        right: 0;
        font-size: 24px;
        color: black;
        font-weight: 500;
        font-family: $font_header;
        margin: 0;
        line-height: 1.2;
        padding: 25px 20px;
        text-align: center;
        box-sizing: border-box;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        @include translate(0,-50%);
      }
      &:hover{
        p, &:before {
          opacity: 1;
        }
      }

      .spinner{
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
        z-index: 10;
        @include fadeIn(0.5s);
        i{
          display: block;
          height: 100px;
          width: 100px;
          position: absolute;
          left: 50%;
          top: 50%;
          margin: -50px 0 0 -50px;
          background: url('../img/spinner.png');
          background-size: contain;
          @include rotation;
        }
      }

      &.loading{
        .spinner{
          display: block;
        }
      }

      @include media(701,1150){
        width: 50%;
        padding: 40% 0 0 0;
      }

      @include media(0,700){
        width: 100%;
        padding: 75% 0 0 0;
      }
    }
  }

  body.popup-open{
    overflow: hidden;
    #popup{
      display: block;
    }
    @include media(800){
      .grid{
        -webkit-filter: blur(25px);
        ms-filter: blur(25px);
        filter: blur(25px);
      }
      header{
        -webkit-filter: blur(25px);
        ms-filter: blur(25px);
        filter: blur(25px);
      }
    }
  }
}

@import "popup";