/* This only supports IE10+, and recent versions of evergreen browsers (Chrome, Safari, Firefox) */
.ellipsify {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

/* scale */
/* translate */
/* rotate */
/* skew */
/* perspective */
@-webkit-keyframes poppin {
  0% {
    -webkit-transform: scale(0.7, 0.7);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: scale(0.7, 0.7);
    /* IE 10, Fx 16+, Op 12.1+ */ }
  100% {
    -webkit-transform: scale(1, 1);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: scale(1, 1);
    /* IE 10, Fx 16+, Op 12.1+ */ } }
@keyframes poppin {
  0% {
    -webkit-transform: scale(0.7, 0.7);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: scale(0.7, 0.7);
    /* IE 10, Fx 16+, Op 12.1+ */ }
  100% {
    -webkit-transform: scale(1, 1);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: scale(1, 1);
    /* IE 10, Fx 16+, Op 12.1+ */ } }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes rotation {
  100% {
    -webkit-transform: rotate(360deg);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: rotate(360deg);
    /* IE 10, Fx 16+, Op 12.1+ */ } }
@keyframes rotation {
  100% {
    -webkit-transform: rotate(360deg);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: rotate(360deg);
    /* IE 10, Fx 16+, Op 12.1+ */ } }
@-webkit-keyframes dropIn {
  0% {
    -webkit-transform: translateY(-20px);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: translateY(-20px);
    /* IE 10, Fx 16+, Op 12.1+ */
    opacity: 0; }
  30% {
    -webkit-transform: translateY(-20px);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: translateY(-20px);
    /* IE 10, Fx 16+, Op 12.1+ */
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: translateY(0);
    /* IE 10, Fx 16+, Op 12.1+ */
    opacity: 1; } }
@keyframes dropIn {
  0% {
    -webkit-transform: translateY(-20px);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: translateY(-20px);
    /* IE 10, Fx 16+, Op 12.1+ */
    opacity: 0; }
  30% {
    -webkit-transform: translateY(-20px);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: translateY(-20px);
    /* IE 10, Fx 16+, Op 12.1+ */
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: translateY(0);
    /* IE 10, Fx 16+, Op 12.1+ */
    opacity: 1; } }
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translate(0, 15px);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: translate(0, 15px);
    /* IE 10, Fx 16+, Op 12.1+ */
    opacity: 0; }
  100% {
    -webkit-transform: translate(0, 0);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: translate(0, 0);
    /* IE 10, Fx 16+, Op 12.1+ */
    opacity: 1; } }
@keyframes slideUp {
  0% {
    -webkit-transform: translate(0, 15px);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: translate(0, 15px);
    /* IE 10, Fx 16+, Op 12.1+ */
    opacity: 0; }
  100% {
    -webkit-transform: translate(0, 0);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: translate(0, 0);
    /* IE 10, Fx 16+, Op 12.1+ */
    opacity: 1; } }
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  background: white;
  -webkit-text-size-adjust: 100%;
  /* Prevent font scaling in landscape */ }

body, a, div {
  font-family: "Source Sans Pro", Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased; }

a {
  color: #0e8581;
  text-decoration: none; }
  a:hover {
    color: #095754;
    text-decoration: underline; }

.hidden {
  display: none; }

.noselect-highlight *::selection, .no-selection *::selection {
  background: transparent; }
.noselect-highlight *::-moz-selection, .no-selection *::-moz-selection {
  background: transparent; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

h1, h2, h3, h4, h5 {
  font-family: "Source Sans Pro", Helvetica Neue, sans-serif; }

html.home header {
  padding: 30px;
  font-size: 20px; }
  html.home header a {
    display: inline-block;
    margin: 0 20px 0 0; }
html.home .grid:after {
  content: '';
  display: table;
  clear: both; }
html.home .grid > div {
  float: left;
  width: 33.3333333%;
  height: 0;
  padding: 27% 0 0 0;
  background-size: cover;
  position: relative;
  cursor: pointer;
  overflow: hidden; }
  html.home .grid > div p {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 24px;
    color: black;
    font-weight: 300;
    margin: 0;
    line-height: 1.2;
    padding: 25px 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    box-sizing: border-box;
    transition: -webkit-transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transform: translate(0, 100%);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: translate(0, 100%);
    /* IE 10, Fx 16+, Op 12.1+ */ }
  html.home .grid > div:hover p {
    -webkit-transform: translate(0, 0);
    /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
    transform: translate(0, 0);
    /* IE 10, Fx 16+, Op 12.1+ */ }
  html.home .grid > div:hover:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    -webkit-animation: fadeIn 0.3s;
    animation: fadeIn 0.3s;
    -webkit-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  html.home .grid > div .spinner {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
    -webkit-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
    html.home .grid > div .spinner i {
      display: block;
      height: 100px;
      width: 100px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -50px 0 0 -50px;
      background: url("../img/spinner.png");
      background-size: contain;
      -webkit-animation: rotation 1.5s linear infinite;
      animation: rotation 1.5s linear infinite; }
  html.home .grid > div.loading .spinner {
    display: block; }
  @media only screen and (min-width: 701px) and (max-width: 1150px) and (min-height: 0px) and (max-height: 999999px) {
    html.home .grid > div {
      width: 50%;
      padding: 40% 0 0 0; } }
  @media only screen and (min-width: 0px) and (max-width: 700px) and (min-height: 0px) and (max-height: 999999px) {
    html.home .grid > div {
      width: 100%;
      padding: 75% 0 0 0; } }
html.home body.popup-open {
  overflow: hidden; }
  html.home body.popup-open #popup {
    display: block; }
  @media only screen and (min-width: 800px) and (max-width: 999999px) and (min-height: 0px) and (max-height: 999999px) {
    html.home body.popup-open .grid {
      -webkit-filter: blur(25px);
      ms-filter: blur(25px);
      filter: blur(25px); }
    html.home body.popup-open header {
      -webkit-filter: blur(25px);
      ms-filter: blur(25px);
      filter: blur(25px); } }

#popup {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  padding: 100px 0 40px 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 100;
  overflow: auto;
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  -webkit-transform: translate3d(0, 0, 0);
  /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
  transform: translate3d(0, 0, 0);
  /* IE 10, Fx 16+, Op 12.1+ */
  -webkit-animation: slideUp 0.5s;
  animation: slideUp 0.5s;
  -webkit-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  #popup .belt {
    position: relative;
    max-width: 1213px;
    margin: 0 auto;
    width: calc(100% - 150px); }
    #popup .belt:after {
      content: '';
      display: table;
      clear: both; }
    #popup .belt .text {
      float: left;
      width: 33%;
      padding: 20px 2%;
      box-sizing: border-box;
      background: white; }
      @media only screen and (min-width: 0px) and (max-width: 1050px) and (min-height: 0px) and (max-height: 999999px) {
        #popup .belt .text {
          width: auto;
          float: none;
          padding: 0 0 30px 0;
          background: none; } }
      @media only screen and (min-width: 0px) and (max-width: 850px) and (min-height: 0px) and (max-height: 999999px) {
        #popup .belt .text {
          padding: 0 15px 30px 15px; } }
    #popup .belt .images {
      float: right;
      width: 66%;
      padding: 0;
      position: relative; }
      #popup .belt .images > * {
        display: block;
        margin: 0 0 10px 0;
        width: 100%; }
      #popup .belt .images iframe {
        height: 350px; }
      @media only screen and (min-width: 0px) and (max-width: 1050px) and (min-height: 0px) and (max-height: 999999px) {
        #popup .belt .images {
          width: auto;
          float: none; } }
    @media only screen and (min-width: 0px) and (max-width: 1050px) and (min-height: 0px) and (max-height: 999999px) {
      #popup .belt {
        width: 100%;
        max-width: 800px; } }
  #popup h2 {
    margin: 0 0 20px 0;
    font-size: 40px;
    color: #444;
    font-weight: 300;
    line-height: 1; }
  #popup h3 {
    margin: 0 0 20px 0;
    font-size: 15px;
    color: #222;
    font-weight: 300; }
  #popup h4 {
    font-size: 20px;
    font-weight: 400;
    color: black;
    margin: 0 0 20px 0; }
  #popup p {
    margin: 0 0 20px 0;
    font-size: 20px;
    color: #444;
    line-height: 1.5; }
  @media only screen and (min-width: 0px) and (max-width: 1050px) and (min-height: 0px) and (max-height: 999999px) {
    #popup {
      background: white;
      padding-top: 50px; } }

.close-popup {
  display: none;
  width: 45px;
  height: 68px;
  position: fixed;
  float: none;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 200;
  line-height: 50px;
  color: #c34887;
  font-size: 15px;
  text-align: center;
  padding: 31px 0 0 0;
  text-transform: uppercase;
  box-sizing: border-box;
  -webkit-animation: poppin 0.5s;
  animation: poppin 0.5s;
  -webkit-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  /* Ch <36, Saf 5.1+, iOS, An =<4.4.4 */
  transform: translate3d(0, 0, 0);
  /* IE 10, Fx 16+, Op 12.1+ */ }
  @media only screen and (min-width: 0px) and (max-width: 900px) and (min-height: 0px) and (max-height: 999999px) {
    .close-popup {
      background: white;
      border-radius: 5px;
      height: 46px;
      text-indent: -1000px;
      overflow: hidden;
      padding: 0;
      line-height: 50px; } }
  .close-popup:before {
    display: block;
    width: 2px;
    height: 45px;
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    background: #c34887;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg); }
  .close-popup:after {
    display: block;
    width: 2px;
    height: 45px;
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    background: #c34887;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg); }
  .close-popup:hover {
    color: #7c2954; }
    .close-popup:hover:before, .close-popup:hover:after {
      background: #7c2954; }

#popup #about {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  float: none;
  background: white; }
  #popup #about h1 {
    margin: 0 0 25px 0;
    font-size: 58px;
    font-weight: 300;
    color: #13b3ae; }

/*# sourceMappingURL=main.css.map */
