#hero{
  background: url(../img/hero/stars.jpg) top center no-repeat;
  min-height: 700px;
  position: relative;
  box-sizing: border-box;
  height: 100vh;
  background-size: cover;
  .top-shading{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0,0,0,0));
    position: absolute;
    top: 0;
    height: 50%;
    width: 100%;
  }
  .main-mountain{
    background: url(../img/hero/main_mountain.png) bottom center no-repeat;
    height: 256px;
    width: 100%;
    background-size: contain;
    position: absolute;
    bottom: 0;
  }
  .side-mountains{
    background: url(../img/hero/side_mountains.png) bottom center no-repeat;
    height: 115px;
    width: 100%;
    background-size: cover;
    position: absolute;
    bottom: 0;
  }
  .background-trees{
    background: url(../img/hero/background_trees.png) bottom center no-repeat;
    height: 140px;
    width: 100%;
    background-size: contain;
    position: absolute;
    bottom: 0;
  }
  .front-trees{
    background: url(../img/hero/front_trees.png) bottom center no-repeat;
    height: 243px;
    width: 100%;
    background-size: contain;
    position: absolute;
    bottom: 0;
  }
  img.logo{
    position: absolute;
    left: 20px;
    top: 20px;
  }
  .text{
    position: absolute;
    top: 50%;
    width: 100%;
    @include translateY(-50%);
    h2{
      margin: 0 0 20px 0;
      text-align: center;
      color: white;
      font-size: 50px;
    }
    h3{
      font-family: $font_content;
      max-width: 800px;
      margin: 0 auto;
      text-align: center;
      color: white;
      font-size: 30px;
    }
    a.arrow{
      display: block;
      width: 50px;
      margin: 20px auto;
      img{
        width: 100%;
      }
    }
  }
}