@mixin home-section-header{
  margin: 0 0 48px 0;
  text-align: center;
  @include clearfix;
  span{
    font-size: 30px;
    color: black;
    text-align: center;
    position: relative;
    display: inline-block;
    &:after{
      content: '';
      display: block;
      position: absolute;
      bottom: -5px;
      height: 2px;
      background: $color-secondary;
      left: 0;
      right: 0;
    }
  }
}

html.home{
  margin: 0;
  padding: 0;

  body{
    min-width: 320px;
    margin: 0;
    padding: 0;
    background: white;

    &.popup-open{
      overflow: hidden;
      #popup{
        display: block;
      }
    }
  }

  section{
    .belt{
      margin: 0 auto;
      max-width: 1250px;
      padding: 0 30px;
      position: relative;
      box-sizing: border-box;
      @include media(0,600){
        padding: 0 15px;
      }
    }
  }
}

@import "nav";
@import "hero";
@import "projects";
@import "about";
@import "social-icons";
@import "popup.project";