#projects{
  background: #d4d4d4;
  position: relative;
  padding: 50px 0 0 0;
  box-sizing: border-box;
  @include clearfix;
  @include media(0,600){
    padding: 30px 0 15px;
  }
  @include media(0,420){
    padding: 0;
  }
  h3{
    @include home-section-header;
  }
  .belt{
    @include media(0,600){
      padding: 0;
    }
  }
  article{
    float: left;
    width: 31.33333%;
    margin: 0 1% 30px 1%;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    padding: 0 0 100px 0;
    img{
      display: block;
      width: 100%;
      @include animation(fadeIn 0.8s);
      @include animation-easing(cubic-bezier(0.25, 0.46, 0.45, 0.94));
      margin: 0;
    }
    .text{
      display: none;
      background: white;
      padding: 20px;
      box-sizing: border-box;
      margin: 0 5% 0 5%;
      width: 90%;
      height: 110px;
      position: absolute;
      bottom: 30px;
      text-align: center;
      transition: all 0.15s ease-in-out;
      @include animation(textSlideUp 0.8s);
      @include animation-easing(cubic-bezier(0.25, 0.46, 0.45, 0.94));
      p.meta{
        font-family: $font_header;
        text-transform: uppercase;
        font-weight: 500;
        color: #797979;
        font-size: 15px;
        margin: 0 0 10px 0;
        transition: color 0.15s ease-in-out;
      }
      p.description{
        margin: 0;
        font-weight: 400;
        font-size: 17px;
        color: #000;
        transition: color 0.15s ease-in-out;
        line-height: 1.4;
      }
      &.hover{
        box-shadow: rgba(0,0,0,0.3) 0 0 15px;
        bottom: 39px;
      }
    }
    &.hidden{
      display: block;
      img, div{
        display: none;
      }
      &:before{
        content: '';
        display: block;
        height: 200px;
        background: #bbbbbb;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
  .projects-container{
    @include clearfix;
    margin: 0 -1% 0 -1%;
    @include media(0,600){
      margin: 0;
    }
  }
}